@import "normalize.css";
@import "visuallyhidden.css";

@import "blocks/equipment.css";
@import "blocks/equipments-list.css";

*, *::before, *::after {
	box-sizing: border-box;
}

html {
  background-color: silver;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 0 4px;
  max-width: 640px;
  background-color: white;
  border-top: 1px solid transparent;
}
